---
---

@import "minima";
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  font-family: Georgia, sans-serif;
  font-size: 21px;
}

a.site-title {
  &:hover {
    text-decoration: none;
  }
}

a.page-link {
  &:hover {
    text-decoration: none;
  }
}
