---
---

@import "minima";
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  font-family: Georgia, sans-serif;
  font-size: 21px;
  line-height: 1.6em;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight {
  margin-bottom: 20px;
}

a.site-title {
  font-size: 1.4em;
  &:hover {
    text-decoration: none;
  }
}

a.page-link {
  font-size: 1.1em;
  &:hover {
    text-decoration: none;
  }
}

.post-title {
  line-height: 1.4em;
  font-size: 1.5em;
}

.post-content h2 {
  font-size: 1.4em;
}
